<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,user-scalable=no"/>
  <title>数据统计</title>
  <link href="css/alldates.css" rel="stylesheet" type="text/css" media="all"/>
  <script type="text/javascript" src="js/echarts.common.min.js"></script>
  <script src="js/vue.js" type="text/javascript"></script>
  <script src="js/jquery.min.js" type="text/javascript"></script>
  <div class="top" id="top">
    <ul>
      <li><a href="javascript:app2.showclass()">今日进度</a></li>
<!--            <li><a href="javascript:app2.showclass1()">班级管理</a></li>-->
<!--            <li><a href="javascript:app.showclass2()">学生管理</a></li>-->
            <li><a href="javascript:app2.showclass3()">多项评比</a></li>
            <li><a href="javascript:app2.showclass4()">Excel导出</a></li>
      <li><a href="javascript:app2.showclass5()">今日评比</a></li>
      <li><a href="javascript:app2.showclass6()">排行统计</a></li>
            <li><a href="javascript:app.showclass7()">暂无需求</a></li>
    </ul>
  </div>
</head>
<body>
<div id="app" style="text-align: center">
  <img style="margin: auto auto;border-radius: 10px" v-show="imghide2" id="imgshowbig" height="1060" width="1900" src=""
       onclick="hidebigimg(this)">
  <div v-show="imghide" id="showshow">
    <!--数据统计-->
    <div class="sandh" v-show="0==index">
      <div style="height: 50px"></div>
      <div style="width: 100%;height: 100px;text-align: center">
        <div id="container" style=" width: 600px;height: 150px;">

        </div>
      </div>
      <!-- 画布-->
      <div style="text-align: center;width: 100%;">
        <canvas id="bchart" height="800" width="1900"></canvas>
      </div>
    </div>
    <!--班级管理-->
    <div class="sandh" v-show="1==index">
      <div class="mainbox">

        <!--        <h2>班级管理</h2>-->
        <div class="responsive">
          <table>
            <tbody>
            <tr>
              <th style="background:#e4644a;">称号</th>
              <th style="background:#8035fb;border-right:2px solid #fff;">班级名称<span
                      style="display:block;font-size:12px; line-height:1em; font-weight:normal;">(比如:一年级（1）班)</span>
              </th>
              <th style="background:#eb4848;border-right:2px solid #fff;">班级口号</th>
              <th style="background:#f37815;border-right:2px solid #fff;">班级荣誉</th>
              <th style="background:#fe0597;border-right:2px solid #fff;">班级学生</th>
              <th style="background:#35c6f0;">操作</th>
            </tr>
            <tr>
              <td style="color: red;font-weight: bold">十佳示范</td>
              <td class="red"></td>
              <td class="red">/</td>
              <td class="red">/</td>
              <td class="red">/</td>
              <td class="red">/</td>
            </tr>
            <tr>
              <td style="color: red">市优秀班级</td>
              <td></td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
            </tr>
            <tr>
              <td style="color: red">先进班级</td>
              <td></td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
            </tr>
            <tr>
              <td style="color: red">荣誉班级</td>
              <td></td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
            </tr>
            <tr v-for="(classname,index) of allclas">
              <td>优秀班级</td>
              <td>{{classname.classname}}</td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
              <td>/</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--学生管理-->
    <div class="sandh" v-show="2==index">
      <div class="mainbox">
        <div class="chuoo">
          <div class="caozuo">
            <span style="font-size: 20px">选择班级:&nbsp</span>
            <select name="" id="">
              <option v-for="c of allclas" :value="c">{{c.classname}}</option>
            </select>
          </div>
        </div>
        <h2>学生管理</h2>
        <div class="responsive">
          <table>
            <tbody>
            <tr>
              <th style="background:#e4644a;">姓名</th>
              <th style="background:#8035fb;border-right:2px solid #fff;">班级<span
                      style="display:block;font-size:12px; line-height:1em; font-weight:normal;">(比如:一年级（1）班)</span>
              </th>
              <th style="background:#eb4848;border-right:2px solid #fff;">性别</th>
              <th style="background:#f37815;border-right:2px solid #fff;">年龄</th>
              <th style="background:#fe0597;border-right:2px solid #fff;">身高</th>
              <th style="background:#35c6f0;">特长</th>
            </tr>
            <tr>
              <td style="color: red;font-weight: bold"></td>
              <td class="red"></td>
              <td class="red"></td>
              <td class="red">/</td>
              <td class="red">/</td>
              <td class="red">/</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--五项评比-->
    <div class="sandh" v-show="3==index">
      <div class="mainbox">
        <div class="chuoo">
          <div class="caozuo">
            <div class="sele">
              <span style="font-size: 20px">选择班级:&nbsp</span>
              <select @change="findbyclassid" id="classid">
                <option v-for="c of allclas" :value="c.classid">{{c.classname}}</option>
              </select>
            </div>
            <div class="sele">
              <span style="font-size: 20px">选择项目:&nbsp</span>
              <select @change="findbyitemid" id="itemid">
                <option value="1">包干区</option>
                <option value="2">室内卫生</option>
                <option value="3">工具摆放</option>
                <option value="4">走廊</option>
                <option value="5">窗台</option>
                <option value="6">瓷砖门窗</option>
                <option value="7">多媒体讲台</option>
              </select>
            </div>
            <!--            <div class="sele">-->
            <!--              <span style="font-size: 20px">选择日期:&nbsp</span>-->
            <!--              <input type="date" class="inputdata">-->
            <!--            </div>-->
          </div>
        </div>
        <h2>五项评比</h2>
        <div class="responsive">
          <table>
            <tbody>
            <tr>
              <th style="background:#e4644a;">项目</th>
              <th style="background:#8035fb;border-right:2px solid #fff;">得分<span
                      style="display:block;font-size:12px; line-height:1em; font-weight:normal;">(比如:一年级（1）班)</span>
              </th>
              <th style="background:#eb4848;border-right:2px solid #fff;">班级名称</th>
              <th style="background:#f37815;border-right:2px solid #fff;">评分日期</th>
              <th style="background:skyblue;">上午/下午</th>
              <th style="background:sandybrown;">图片</th>
              <th style="background:#fe0597;border-right:2px solid #fff;">扣分详情</th>
            </tr>
            <tr v-for="(point,index) of allpoints">
              <td>{{point.itemid | formatItem}}</td>
              <td class="red">{{point.itemscore}}</td>
              <td>{{point.classid | formatClass}}</td>
              <td>{{point.dates | formatDate}}</td>
              <td>{{point.noon | formatNoon}}</td>
              <td>
                <img :src="point.pid" width="200px"/>
              </td>
              <td class="red">{{point.details | formatdetails}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--Excel导出-->
    <div class="sandh" v-show="4==index">
      <div class="mainbox">
        <div class="chuoo">
          <div class="caozuo">
            <span style="font-size: 20px">选择日期:&nbsp</span>
            <input type="date" class="inputdata" id="seldata">
            <span style="font-size: 20px">选择年级:&nbsp</span>
            <select @change="findbyclassid" id="selclass">
              <option value="1">一年级</option>
              <option value="2">二年级</option>
              <option value="3">三年级</option>
              <option value="4">四年级</option>
              <option value="5">五年级</option>
              <option value="6">六年级</option>
            </select>&nbsp
            <input type="button" id="seltime" class="inputdata" value="导出Excel" onclick="downfile()">
          </div>
        </div>
      </div>

    </div>
    <!--今日数据-->
    <div class="sandh" v-show="5==index">
      <div class="mainbox">
        <div class="chuoo">
          <div class="caozuo">
            <div class="sele">
              <span style="font-size: 20px">选择班级:&nbsp</span>
              <select onchange="findbynowclassid()" id="classid2">
                <option v-for="c of allclas" :value="c.classid">{{c.classname}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--        <h2>今日数据</h2>-->
        <div class="responsive">
          <table>
            <tbody>
            <tr>
              <th style="background:#e4644a;font-size: 30px">区域</th>
              <th style="background:#8035fb;border-right:2px solid #fff;font-size: 30px">得分<span
                      style="display:block;font-size:12px; line-height:1em; font-weight:normal;font-size: 30px"></span>
              </th>
              <th style="background:skyblue;font-size: 30px">上午/下午</th>
              <th style="background:sandybrown;font-size: 30px">图片</th>
              <th style="background:#fe0597;border-right:2px solid #fff;font-size: 30px">扣分详情</th>
            </tr>
            <tr v-for="(point,index) of allpoints" id="todayshow">
              <td>{{point.itemid | formatItem}}</td>
              <td class="red">{{point.itemscore}}</td>
              <td>{{point.noon | formatNoon}}</td>
              <td>
                <button :value="point.pid" v-if="point.pid!=''" id="showbutton"  onclick="showimg(this)">详情</button>
                <!--                <img :src="point.pid" width="200px" style="display: none" />-->
              </td>
              <td class="red">{{point.details | formatdetails}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div v-show="6==index">
      <div class="mainbox">

        <div style="float: right">&nbsp最低&nbsp</div>
        <button class="stateweek" style="background-color: darkkhaki;border-color: darkkhaki"></button>
        <div style="float: right">&nbsp最高&nbsp</div>
        <button class="stateweek" style="background-color: red;border-color: red"></button>
        <div style="float: right">&nbsp本周&nbsp</div>
        <button class="stateweek" style="background-color: #3a8a9e;border-color: #3a8a9e"></button>

        <div class="sele" style="width: 100%;margin-top: -70px;">

          <!--              <button class="stateweek" style="color: blue"> </button>-->
          <!--              <button class="stateweek"> </button>-->

          <label id="titlename">校园多项评比 结果公示</label>
          <!--              <input type="radio" id="r3" value="3"  name="type"><label for="r3">{{paihang[2]}}</label>-->
          <!--              <input type="radio" id="r4" value="4"  name="type"><label for="r4">{{paihang[3]}}</label>-->
          <!--              <input type="radio" id="r5" value="5"  name="type"><label for="r5">{{paihang[4]}}</label>-->


        </div>


        <!--排行数据-->
        <div class="responsive">
          <table id="paihang">
            <tr style="color: #634b30;">
              <td style="font-size: 16px"><strong>周次</strong></td>
              <td v-for="c of allclas"><strong>{{c.classname}}</strong></td>
            </tr>
            <tr>
              <td>{{weekday[0]}}</td>
              <td :class="{skyblue:bacol[0],skybluemax:score==maxweek[0],skybluemin:score==minweek[0]}"  v-for="score,index in weekscore1">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[1]}}</td>
              <td :class="{skyblue:bacol[1],skybluemax:score==maxweek[1],skybluemin:score==minweek[1]}" v-for="score in weekscore2">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[2]}}</td>
              <td :class="{skyblue:bacol[2],skybluemax:score==maxweek[2],skybluemin:score==minweek[2]}" v-for="score in weekscore3">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[3]}}</td>
              <td :class="{skyblue:bacol[3],skybluemax:score==maxweek[3],skybluemin:score==minweek[3]}" v-for="score in weekscore4">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[4]}}</td>
              <td :class="{skyblue:bacol[4],skybluemax:score==maxweek[4],skybluemin:score==minweek[4]}" v-for="score in weekscore5">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[5]}}</td>
              <td :class="{skyblue:bacol[5],skybluemax:score==maxweek[5],skybluemin:score==minweek[5]}" v-for="score in weekscore6">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[6]}}</td>
              <td :class="{skyblue:bacol[6],skybluemax:score==maxweek[6],skybluemin:score==minweek[6]}" v-for="score in weekscore7">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[7]}}</td>
              <td :class="{skyblue:bacol[7],skybluemax:score==maxweek[7],skybluemin:score==minweek[7]}" v-for="score in weekscore8">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[8]}}</td>
              <td :class="{skyblue:bacol[8],skybluemax:score==maxweek[8],skybluemin:score==minweek[8]}" v-for="score in weekscore9">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[9]}}</td>
              <td :class="{skyblue:bacol[9],skybluemax:score==maxweek[9],skybluemin:score==minweek[9]}" v-for="score in weekscore10">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[10]}}</td>
              <td :class="{skyblue:bacol[10],skybluemax:score==maxweek[10],skybluemin:score==minweek[10]}" v-for="score in weekscore11">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[11]}}</td>
              <td :class="{skyblue:bacol[11],skybluemax:score==maxweek[11],skybluemin:score==minweek[11]}" v-for="score in weekscore12">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[12]}}</td>
              <td :class="{skyblue:bacol[12],skybluemax:score==maxweek[12],skybluemin:score==minweek[12]}" v-for="score in weekscore13">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[13]}}</td>
              <td :class="{skyblue:bacol[13],skybluemax:score==maxweek[13],skybluemin:score==minweek[13]}" v-for="score in weekscore14">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[14]}}</td>
              <td :class="{skyblue:bacol[14],skybluemax:score==maxweek[14],skybluemin:score==minweek[14]}" v-for="score in weekscore15">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[15]}}</td>
              <td :class="{skyblue:bacol[15],skybluemax:score==maxweek[15],skybluemin:score==minweek[15]}" v-for="score in weekscore16">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[16]}}</td>
              <td :class="{skyblue:bacol[16],skybluemax:score==maxweek[16],skybluemin:score==minweek[16]}" v-for="score in weekscore17">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[17]}}</td>
              <td :class="{skyblue:bacol[17],skybluemax:score==maxweek[17],skybluemin:score==minweek[17]}" v-for="score in weekscore18">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[18]}}</td>
              <td :class="{skyblue:bacol[18],skybluemax:score==maxweek[18],skybluemin:score==minweek[18]}" v-for="score in weekscore19">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[19]}}</td>
              <td :class="{skyblue:bacol[19],skybluemax:score==maxweek[19],skybluemin:score==minweek[19]}" v-for="score in weekscore20">{{score}}</td>
            </tr>
            <tr>
              <td>{{weekday[20]}}</td>
              <td :class="{skyblue:bacol[20],skybluemax:score==maxweek[20],skybluemin:score==minweek[20]}" v-for="score in weekscore21">{{score}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
<script src="js/vueapp2.js" type="text/javascript"></script>
<script src="js/app2ajax.js" type="text/javascript"></script>
<script src="js/canvas.js" type="text/javascript"></script>
</html>